:host {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 50px;
  position: relative;
}

mat-icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.map {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
