$blue: #133f64;
$red: #e52d2c;

$apple: #8bb746;
$strawberry: #971b1b;
$mango: #d78a2e;
$banana: #ddce65;

$dog: #a07c5b;
$cat: #4d4646;
$bird: #579793;
$none: lightgrey;

$male: #375fa9;
$female: #a9375d;

$brown: #684b31;
$blue: #71a5c6;
$green: #539e7c;
